dn: olcDatabase={1}{{ pwm_ldap_db }},cn=config
changetype: modify
add: olcAccess
olcAccess: to attrs=userPassword,shadowLastChange
  by dn="cn={{ pwm_ldap_admin }},{{ pwm_ldap_domain }}" write
  by dn="cn=admin,{{ pwm_ldap_domain }}" write

dn: olcDatabase={1}{{ pwm_ldap_db }},cn=config
changetype: modify
add: olcAccess
olcAccess: to dn.subtree={{ pwm_ldap_subtree }}
    by dn="cn=admin,{{ pwm_ldap_domain }}" write
    by dn="cn={{ pwm_ldap_admin }},{{ pwm_ldap_domain }}" write
    by anonymous auth
    by self write
    by * none
